/** BASE STYLES **/

body {
    font-family: 'Raleway', sans-serif;
    background-color: #bddef0;
}

#about {
    height: 600px;
}

#work {
    height: 600px;
    background-color: #b6619c;
    clear: both;
}

#contact {
    height: 300px;
}

/** GRID **/

.full-width {
    width: 1200px;
    margin: 0 auto;
}

.half-width {
    width: 600px;
    float: left;
}

/** HEADER **/

header {
    height: 600px;
}

header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-style: italic;
    color: #523a27;
    clear: both;
    margin: 0px;
}

#nav {
    float: right;
    padding-bottom: 250px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #523a27;
}

header h2 {
    font-family: 'Raleway', serif;
    font-weight: 400;
    font-size: 20px;
    color: #523a27;
    text-transform: uppercase;
    text-indent: 200px;
}


/** ABOUT **/

#about .full-width {
    padding: 115px 0;
  }
  
  #about h3 {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    color: #b6619c;
    text-transform: uppercase;
  }
  
  #about p {
    font-size: 16px;
    color: #523a27;
    line-height: 30px;
    padding-right: 50px;
    
  }

  #about-me-img {
    height: 300px;
    width: 250px;
    border-radius: 300%;
    float: right;    
  }
  
  
  /** WORK **/
  
  #work .full-width {
    padding: 115px 0;
  }
  
  #work h3 {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    color: #bddef0;
    text-transform: uppercase;
    padding-bottom: 100px;
  }
  
  #work p {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 28px;
    color: #bddef0;
    text-align: center;
    text-transform: uppercase;
  }


  
  
  /** CONTACT **/
  
  footer {
    padding: 80px 0;
  }
  
  #contact h3 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: #523a27;
    text-transform: uppercase;
  }
  
  #contact p {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: #523a27;
  }
  
  footer a {
    text-decoration: none;
    color: #523a27;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
  }

  footer h4 {
      color: #523a27;
      font-family: 'Playfair Display', serif;
      font-style: italic;
  }